.body {

}
    .body__sidebar {
        display: inline-block;
        vertical-align: top;
        width: 290px;
        /*margin: 0 20px 0 0;*/
    }

    .body__content {
        display: inline-block;
        vertical-align: top;
        width: 616px;
        margin-left: 49px;
    }