.header {
    height: 135px;
    position: relative;
}
    .header__left {
        position: absolute;
        left: 0;
        top: 20px;
    }

    .header__middle {
        position: absolute;
        top: 24px;
        right: 274px;
    }

    .header__right {
        position: absolute;
        top: 16px;
        right: -31px;
    }