.icon {
    display: inline-block;
    vertical-align: top;
}

.icon_arrow {
    width: 7px;
    height: 4px;
    background: url(../images/icon_arrow.png);
}

.icon_geo {
    width: 10px;
    height: 14px;
    background: url(../images/icon_geo.png);
}

.icon_mail {
    width: 11px;
    height: 8px;
    background: url(../images/icon_mail.png);
}
