.link {
    font-size: 12px;
    line-height: 14px;
    text-decoration: underline;
    color: #00938e;
}

.link_mail {
    font-size: 15px;
    line-height: 17px;
}

.link:hover {
    text-decoration: none;
}