.page {
    position: relative;
}
    .page__header {

    }

    .page__slider {

    }

    .page__about {
        margin: 71px 0 0
    }

    .page__nav {
        position: absolute;
        top: 180px;
        left: 0;
        right: 0;
        z-index: 100;
        background: #1a62ae;
    }

    .page__body {
        margin: 50px 0 0;
    }

    .page__footer {
        margin: 71px 0 0;
        background: url(../images/footer_background.jpg) repeat-x;
    }