.page {

}
    .page__header {

    }

    .page__slider {

    }

    .page__about {
        margin: 74px 0 0
    }

    .page__nav {
        margin: 20px 0 0;
    }

    .page__body {
        margin: 20px 0 0;
    }

    .page__footer {
        margin: 20px 0 0;
    }