.phones {
    background: #f7f7f7;
    padding: 15px 20px 55px 17px;
    position: relative;
}

    .phones__top {
        font-size: 28px;
        line-height: 30px;
    }

        .phones__top__code {
            color: #666;
            display: inline;
        }

        .phones__top__number {
            color: #474747;
            display: inline;
        }

    .phones__handler {
        font-size: 12px;
        line-height: 14px;
        color: #474747;
        margin-top: 4px;
        cursor: pointer;
    }

        .phones__handler__text {
            border-bottom: 1px dotted #474747;
            width: 150px;
        }

        .phones__handler__icon {
            position: absolute;
            top: 57px;
            right: 85px;
        }

    .phones__list {
        position: absolute;
        top: 86px;
        right: 0;
        display: none;
        z-index: 200;
    }

    .phones__mail {
        margin-top: 8px;
    }

        .phones__mail__icon {
            display: inline-block;
            vertical-align: bottom;
            height: 8px;
            position: relative;
            top: -2px;
        }

        .phones__mail__link {
            display: inline-block;
            vertical-align: bottom;
            margin-left: 8px;
        }

.phones_footer {
    background: none;
}